# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual env
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data (binaires lourds)
data/raw/*
data/processed/*
models/*.pkl
models/*.joblib

# Docker
*.log

# Jupyter
.ipynb_checkpoints/

# Airflow
airflow_dev/logs/
airflow_dev/airflow.db